@import "../style.css";

.banner{
    background: url(../img/imagedebut.jpg);
    background-size: cover;
}

.testimonials{
    background: url(../img/bg-accous.JPG);b
    background-size: cover;
}
