@import "../style.css";

.banner{
    background: url(../img/bruniquel1.jpeg);
    background-size: cover;
}

.testimonials{
    background: url(../img/bruniquel2.jpeg);
    background-size: cover;
}

.testimonials .content .box .imgBx{
    border-radius: 0%;
}